{
  "presets": [
    ["@babel/preset-env"],
    ["@babel/preset-react"]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-transform-regenerator"],
    ["@babel/plugin-proposal-class-properties"],
    ["module-resolver",{
      "root": ["./src"],
      "alias":{
        "local-paths":"./src/local-paths",
        "local-utils":"./src/local-utils",
        "js":"./src/scripts",
        "devel":"./src/server/develop",
        "componentsLib": "./src/scripts/interface/panel/components/lib",
        "reducersLib":"./src/scripts/interface/panel/reducers",
        "logger":"./src/server/logger"
      }}]],
  "env":{
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    }
  }
}
